#bienvenida{
    color:black;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 28px;
    text-align: center;
    align-items: center;
    width: 174px;
    height: 28px;
    margin-bottom: 11px;
}
.rectangulo{
    width: 1084px;
    height: 264px;
    background: #F3EDF7;
    margin-bottom: 11px;
}
.libro{
    width: 470px;
    height: 101px;
    border-radius: 12px;
    border-color: rgb(165, 165, 165);
    border-width: 1px;
    border-style: solid;
    background: #F3EDF7;
    margin-left: 22px;
}
#subtitulo{
    color:black;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 28px;
    text-align: center;
    align-items: center;
    width: 149px;
    height: 28px;
    padding-top: 11px;
    margin-left: 22px;
}